$Poppins: 'Poppins', sans-serif;
$Nunito: 'Nunito', sans-serif;

$white: #EBEBEB;
$black: #484848;

$background-division: #F8F8F8;


$secondary-bkg-button: #b4b4b4;
$danger-bkg-button: #cf2f29;
$primary-bkg-button: #2993cf;
$info-bkg-button: #7cc5ef;
$success-bkg-button: #00853f;
$warning-bkg-button: #b7b33a;

$danger-bkg-button-active: #96110c;
$primary-bkg-button-active: #0a6da7;
$info-bkg-button-active: #206e9b;
$secondary-bkg-button-active: #939393;
$success-bkg-button-active: #00853f;
$warning-bkg-button-active: #8e8a14;

$btn-clr-button: white;


$grey: #677183;
$blue: #3FB6FF;
$blue-soft: #D7F0FF;
$red: #FF4858;
$red-soft: #FFE0E3;
$orange: #CE8501;
$orange-soft: #FFDB9B;

$green-15: #CCFF33;
$green-25: #9EF01A;
$green-50: #70E000;
$green-75: #008000;
$green-100: #006400;

$main-bgr-button: #d7d7d7;
$border-inputs: #bababa;

$background-layer: #0000007d; 
$footer-backgroud: #222222;

$cards-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.12);

//#region Reset CSS 

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,input,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,
u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,
td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,textarea,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 62.5%;
    font-family: $Poppins;
    vertical-align: baseline;
    box-sizing: border-box;
}  
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* width */
::-webkit-scrollbar {
    width:5px;
    border-radius: 25px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  a{
    text-decoration: none;
  }


//#endregion Reset CSS

body{
    display: flex;
    justify-content: center;
}

.page-content{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    box-shadow: $cards-shadow;

    .side-menu{ 
        background-color: $green-100; 
        width: 30%;
        height: 100vh;
        min-width: 350px; 
        padding: 0 20px;
        position: sticky;
        top: 0;
        

        .hr{
            width: 90%;
            border: solid 2px rgba(255, 255, 255, 0.526);
            border-radius: 50px;
            margin-bottom: 20px;
        }
        .head-content-menu{
            .logo-content{
                display: flex;
                justify-content: center;
                figure{
                    width: 70%;
                    height: 150px;
                    img{
                        object-fit: contain;    
                    }
                }
            }
        }
        .main-content-menu{
            display: flex;
            flex-direction: column;
            gap: 12px;

            .menu-title{
                font-size: 1.4rem;
                color: white;
                margin-left: 26px;
                font-weight: 600;
                margin: 20px;
            }
            
            .option{ 
                display: grid;
                grid-template-columns: 50px auto;
                align-items: center;
                height: 71px;
                border-radius: 8px;
                padding: 0px 32px;   
                transition: 0.2s;
                figure{
                    width: 32px;
                    height: 32px;
                    img{
                        object-fit: contain;
                    }
                }
                p{
                    font-size: 1.8rem;
                    color: white;
                }
            }
            .option:hover{
                background-color: $green-75;
            }
        }
    }

    .main-content{
        width: 60%;
        .head-section{
            height: 70px;
        }
        .main-section-content{
            width: 100%;
            .head-main-content{
                height: 80px;
                display: flex;
                padding: 0 61px;
                gap: 17px;
                align-items: center;

                figure{
                    width: 36px;
                    height: 36px;
                    img{
                        object-fit: contain;
                    }
                }

                .text-content{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h2{
                        font-size: 3rem;
                        font-weight: 600;
                    }
                    p{
                        font-size: 1.8rem;
                        color: $grey
                    }
                }
            }
            .body-main-content{ 
                
                .inputs-content{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    padding: 20px 0 20px 20px;

                    .input-form.article-content{
                        grid-area: 1/1/4/2;
                        span{
                            font-size: 1.6rem;
                            margin: 12px 26px;
                    
                            display: block;
                        }
                        label{ 
                            box-shadow: $cards-shadow;  
                            border-radius: 8px;
                            border: none;
                            width: 100%;
                            height: 80%;
                            font-size: 1.6rem;
                            padding: 0 12px;
                            cursor: pointer;
                            figure{    
                                width: 360px;
                                height: 250px;
                                img{
                                    object-fit: contain;
                                }
                            }
                            input{
                                display: none;
                            }
                        }
                    }
                    .input-form{
                        label{
                            display: flex;
                            flex-direction: column;
                            padding: 20px;
                            gap: 8px;
                            span{
                                font-size: 1.6rem;
                                margin-left: 12px;
                            }
                            input,select{
                                width: 120px;
                                height: 40px;
                                box-shadow: $cards-shadow;
                                border-radius: 8px;
                                border: none;
                                width: 100%;
                                font-size: 1.6rem;
                                padding: 0 12px;
                            }
                        }
                    }
                }
                .image-container{
                    width: 100%; 
                    padding: 20px;
                    span{
                        font-size: 1.6rem; 
                        margin-bottom: 12px;
                        display: block;
                    }
                    .multiples-images-content{
                        display: flex;
                        align-items: center;
                        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1254901961);
                        border-radius: 6px;
                        padding: 9px;
                        .images-content{
                            display: flex;
                            flex-wrap: wrap;
                            gap: 8px;
                            width: 100%; 
                            .images{
                                transition:  .1s;
                                cursor: pointer;
                                figure{
                                    width: 100px;
                                    height: 100px;
                                    border-radius: 6px;
                                    overflow: hidden;
                                    box-shadow: $cards-shadow;
                                }
                            }
                            .images:hover{
                                transform: translateY(-5px);
                                box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.12);;
                            }
                            .images:active{
                                transform: translateY(0px);
                            }
                        }
                        .multiple-button{ 
                            height: 140px;
                            border-radius: 12px;
                            border: none;
                            cursor: pointer;
                            background-color: #5CAE5C;
                            width: 80px;
                            margin: 12px;
                            display: flex;
                            align-items: center;
                            figure{                            
                                width: 100%;
                                height: 36px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    object-fit: contain;
                                }
                            }
                        }
                        .image-selector{
                            display: none;
                        }
                        .multiple-button:hover{
                            background-color: #309d30;
                        }
                        .multiple-button:active{
                            background-color: #1e881e;
                        }
                    }
                }
                .article-description-content{
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    span{
                        font-size: 1.6rem;
                        margin-bottom: 12px;
                        display: block;
                    }
                    textarea{
                        font-size: 1.6rem;
                        padding: 20px;
                        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1254901961);
                        border-radius: 6px;
                    }
                }
            }
        }
    }
   
}

.button-section{
    margin-top: 200px;
    .button-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        .button-grouper{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            span{
                transition: 0.1s;
                font-size: 15px;
                font-weight: 500;
            }
            button{
                width: 100%;
                background-color: $main-bgr-button;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                border: solid 1px $border-inputs;
                border-radius: 40px;
                transition: 0.1s;
                min-width: 70px;
                height: 70px;
                overflow: hidden;
                box-shadow: 0px 5px 5px rgb(0 0 0 / 10%);
                i{
                    transition: 0.1s;
                    font-size: 30px;
                }
            }
        }
    }
}

/* Tooltip */
.tooltip {
    position: relative;
}

.tooltip-box {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    line-height: 20px;
    z-index: 500;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    bottom: 85px;
}

    .tooltip-box::after {
    content: '';
    /* display: block;  */
    border-top: 15px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    bottom: -10px;
    position: absolute;
    left: calc(50% - 20px);
}

.tooltip:hover .tooltip-box {
    display: inline-block;
}


.table{
    padding: 20px;
    
    .thead{
        .tr{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            padding: 12px;
            border-bottom:solid 1px #ccc;
            border-radius: 6px;
            .td{
                font-size: 1.8rem;
                font-weight: 600;
            }
            
        }
    }
    .tbody{
        overflow-y: scroll;
        max-height: 350px;
        .tr{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            padding: 12px;
            border-radius: 6px;
            transition: .2s;
            align-items: center;
            .td{
                font-size: 1.8rem;
                color: #6e6e6e;
            }
        }
        .tr:nth-child(even){
            background-color: #00b94a1d;
        }
        .tr:hover{
            background-color: #139d4459;
        }
    }
} 

.btn-edit{
    width: 45px;
    height: 45px;
    background: #ffd2005e;
    box-shadow: 1px 1px 4px #00000060;
    border: none;
    border-radius: 46px;
    transition: 0.2s;
    cursor: pointer;
    i{
        font-size: 20px;
    }
}
.btn-edit:hover{
    background: #cece02fc;
}
.btn-edit:active{
    background: #acac00fc;
    box-shadow: 0px 0px 0px #00000060;

}

.text-center{
    text-align: center !important;
}

.text-left{
    text-align: left !important;
}

.text-right{
    text-align: right !important;
}