html, body, div, span, applet, object, iframe, h1, h2, h3, h4, input, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, textarea,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.page-content {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.12);
  padding: 0 10px;
}
.page-content .side-menu {
  background-color: #006400;
  width: 30%;
  height: 100vh;
  overflow-y: scroll;
  min-width: 350px;
  padding: 0 20px;
  position: sticky;
  top: 0;
}
.page-content .side-menu .hr {
  width: 90%;
  border: solid 2px rgba(255, 255, 255, 0.526);
  border-radius: 50px;
  margin-bottom: 20px;
}
.page-content .side-menu .head-content-menu .logo-content {
  display: flex;
  justify-content: center;
}
.page-content .side-menu .head-content-menu .logo-content figure {
  width: 70%;
  height: 150px;
}
.page-content .side-menu .head-content-menu .logo-content figure img {
  object-fit: contain;
}
.page-content .side-menu .main-content-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.page-content .side-menu .main-content-menu .menu-title {
  font-size: 1.4rem;
  color: white;
  margin-left: 26px;
  font-weight: 600;
  margin: 20px;
}
.page-content .side-menu .main-content-menu .option {
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  height: 71px;
  border-radius: 8px;
  padding: 0px 32px;
  transition: 0.2s;
}
.page-content .side-menu .main-content-menu .option figure {
  width: 32px;
  height: 32px;
}
.page-content .side-menu .main-content-menu .option figure img {
  object-fit: contain;
}
.page-content .side-menu .main-content-menu .option i {
  font-size: 32px;
  color: white;
}
.page-content .side-menu .main-content-menu .option p {
  font-size: 1.8rem;
  color: white;
}
.page-content .side-menu .main-content-menu .option:hover {
  background-color: #008000;
}
.page-content .main-content {
  width: 60%;
}
.page-content .main-content .head-section {
  height: 70px;
}
.page-content .main-content .main-section-content {
  width: 100%;
}
.page-content .main-content .main-section-content .head-main-content {
  height: 80px;
  display: flex;
  padding: 0 61px;
  gap: 17px;
  align-items: center;
}
.page-content .main-content .main-section-content .head-main-content figure {
  width: 36px;
  height: 36px;
}
.page-content .main-content .main-section-content .head-main-content figure img {
  object-fit: contain;
}
.page-content .main-content .main-section-content .head-main-content i {
  font-size: 32px;
  color: #41ab34;
}
.page-content .main-content .main-section-content .head-main-content .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-content .main-content .main-section-content .head-main-content .text-content h2 {
  font-size: 3rem;
  font-weight: 600;
}
.page-content .main-content .main-section-content .head-main-content .text-content p {
  font-size: 1.8rem;
  color: #677183;
}
.page-content .main-content .main-section-content .body-main-content .inputs-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px 0 20px 20px;
}
.page-content .main-content .main-section-content .body-main-content .inputs-content .input-form.article-content {
  grid-area: 1/1/4/2;
}
.page-content .main-content .main-section-content .body-main-content .inputs-content .input-form.article-content span {
  font-size: 1.6rem;
  margin: 12px 26px;
  display: block;
}
.page-content .main-content .main-section-content .body-main-content .inputs-content .input-form.article-content label {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 80%;
  font-size: 1.6rem;
  padding: 0 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-content .main-content .main-section-content .body-main-content .inputs-content .input-form.article-content label figure {
  width: 360px;
  height: 250px;
}
.page-content .main-content .main-section-content .body-main-content .inputs-content .input-form.article-content label figure img {
  object-fit: contain;
}
.page-content .main-content .main-section-content .body-main-content .inputs-content .input-form.article-content label input {
  display: none;
}
.page-content .main-content .main-section-content .body-main-content .inputs-content .input-form label {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 8px;
}
.page-content .main-content .main-section-content .body-main-content .inputs-content .input-form label span {
  font-size: 1.6rem;
  margin-left: 12px;
}
.page-content .main-content .main-section-content .body-main-content .inputs-content .input-form label input, .page-content .main-content .main-section-content .body-main-content .inputs-content .input-form label select {
  width: 120px;
  height: 40px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  border: none;
  width: 100%;
  font-size: 1.6rem;
  padding: 0 12px;
}
.page-content .main-content .main-section-content .body-main-content .image-container {
  width: 100%;
  padding: 20px;
}
.page-content .main-content .main-section-content .body-main-content .image-container span {
  font-size: 1.6rem;
  margin-bottom: 12px;
  display: block;
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content {
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1254901961);
  border-radius: 6px;
  padding: 9px;
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content .images-content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content .images-content .images {
  transition: 0.1s;
  cursor: pointer;
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content .images-content .images figure {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.12);
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content .images-content .images:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 10px 4px rgba(0, 0, 0, 0.12);
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content .images-content .images:active {
  transform: translateY(0px);
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content .multiple-button {
  height: 140px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: #5CAE5C;
  width: 80px;
  margin: 12px;
  display: flex;
  align-items: center;
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content .multiple-button figure {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content .multiple-button figure img {
  object-fit: contain;
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content .image-selector {
  display: none;
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content .multiple-button:hover {
  background-color: #309d30;
}
.page-content .main-content .main-section-content .body-main-content .image-container .multiples-images-content .multiple-button:active {
  background-color: #1e881e;
}
.page-content .main-content .main-section-content .body-main-content .article-description-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.page-content .main-content .main-section-content .body-main-content .article-description-content span {
  font-size: 1.6rem;
  margin-bottom: 12px;
  display: block;
}
.page-content .main-content .main-section-content .body-main-content .article-description-content textarea {
  font-size: 1.6rem;
  padding: 20px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1254901961);
  border-radius: 6px;
}

.button-section {
  margin-top: 200px;
}
.button-section .button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.button-section .button-container .button-grouper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
}
.button-section .button-container .button-grouper span {
  transition: 0.1s;
  font-size: 15px;
  font-weight: 500;
}
.button-section .button-container .button-grouper button {
  width: 100%;
  background-color: #d7d7d7;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: solid 1px #bababa;
  border-radius: 40px;
  transition: 0.1s;
  min-width: 70px;
  height: 70px;
  overflow: hidden;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.button-section .button-container .button-grouper button i {
  transition: 0.1s;
  font-size: 30px;
}

.tags-content {
  padding: 20px;
}
.tags-content span {
  font-size: 1.6rem;
  margin-bottom: 12px;
  display: block;
}
.tags-content .select-tags-content {
  margin-bottom: 20px;
}
.tags-content .select-tags-content select {
  height: 40px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  border: none;
  width: 250px;
  font-size: 1.6rem;
  padding: 0 12px;
}
.tags-content .tags-container {
  padding: 20px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.tags-content .tags-container .tag {
  display: flex;
  padding: 6px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3137254902);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.tags-content .tags-container .tag p {
  font-size: 1.4rem;
}
.tags-content .tags-container .tag p:nth-child(2) {
  cursor: pointer;
  color: red;
  background-color: rgba(255, 0, 0, 0.287);
  width: 20px;
  height: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tooltip */
.tooltip {
  position: relative;
}

.tooltip-box {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  line-height: 20px;
  z-index: 500;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  padding: 5px 10px;
  bottom: 85px;
}

.tooltip-box::after {
  content: "";
  /* display: block;  */
  border-top: 15px solid black;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  bottom: -10px;
  position: absolute;
  left: calc(50% - 20px);
}

.tooltip:hover .tooltip-box {
  display: inline-block;
}

.table {
  padding: 20px;
}
.table .thead .tr {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 12px;
  border-bottom: solid 1px #ccc;
  border-radius: 6px;
}
.table .thead .tr .td {
  font-size: 1.8rem;
  font-weight: 600;
}
.table .tbody {
  overflow-y: scroll;
  max-height: 350px;
}
.table .tbody .tr {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 12px;
  border-radius: 6px;
  transition: 0.2s;
  align-items: center;
}
.table .tbody .tr .td {
  font-size: 1.8rem;
  color: #6e6e6e;
}
.table .tbody .tr:nth-child(even) {
  background-color: rgba(0, 185, 74, 0.1137254902);
}
.table .tbody .tr:hover {
  background-color: rgba(19, 157, 68, 0.3490196078);
}

.btn-edit {
  width: 45px;
  height: 45px;
  background: rgba(255, 210, 0, 0.368627451);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3764705882);
  border: none;
  border-radius: 46px;
  transition: 0.2s;
  cursor: pointer;
}
.btn-edit i {
  font-size: 20px;
}

.btn-edit:hover {
  background: rgba(206, 206, 2, 0.9882352941);
}

.btn-edit:active {
  background: rgba(172, 172, 0, 0.9882352941);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3764705882);
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.accept-reject-content {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.accept-reject-content .accept-content-modal {
  height: 0px;
  width: 750px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  transition: 0.4s;
}
.accept-reject-content .accept-content-modal .text-content {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.accept-reject-content .accept-content-modal .text-content h1 {
  font-size: 4.4rem;
  color: #7d7d7d;
  margin-bottom: 15px;
}
.accept-reject-content .accept-content-modal .text-content p {
  font-size: 2.4rem;
  color: #7d7d7d;
  text-align: center;
}
.accept-reject-content .accept-content-modal .button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.accept-reject-content .accept-content-modal .button-content button.accept-btn {
  width: 200px;
  height: 60px;
  border-radius: 17px;
  border: none;
  background: #00853f;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
}
.accept-reject-content .accept-content-modal .button-content button.accept-btn i,
.accept-reject-content .accept-content-modal .button-content button.reject-btn i {
  font-size: 2rem;
}
.accept-reject-content .accept-content-modal .button-content button.accept-btn:active {
  background: #006831;
}
.accept-reject-content .accept-content-modal .button-content button.reject-btn {
  width: 140px;
  height: 60px;
  border-radius: 17px;
  border: none;
  background-color: #979797;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
}
.accept-reject-content .accept-content-modal .button-content button.reject-btn:active {
  background-color: #828282;
}

.accept-reject-content.show {
  background-color: rgba(51, 51, 51, 0.3411764706);
  z-index: 1000;
}
.accept-reject-content.show .accept-content-modal {
  height: 250px;
}

.strong {
  font-size: 2.4rem;
  font-weight: 600;
}

.alert-banner {
  position: absolute;
  width: 500px;
  height: 150px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.12);
  bottom: 50px;
  right: -560px;
  transition: 0.3s;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 100px 400px;
  align-items: center;
  z-index: 500;
  background-color: white;
}
.alert-banner .icon-content {
  justify-self: center;
}
.alert-banner .icon-content i {
  font-size: 5rem;
}
.alert-banner .message-content {
  width: 90%;
}
.alert-banner .message-content p {
  font-size: 1.8rem;
}
.alert-banner .close-banner {
  position: absolute;
  top: 8px;
  right: 18px;
  cursor: pointer;
}
.alert-banner .close-banner i {
  font-size: 2rem;
}

.alert-banner.show {
  right: 50px;
}

.alert-banner.danger {
  background-color: #ffc0be;
}
.alert-banner.danger i, .alert-banner.danger p {
  color: #b31914;
}

.alert-banner.warning {
  background-color: #fffedd;
}
.alert-banner.warning i, .alert-banner.warning p {
  color: #a19d25;
}

.alert-banner.success {
  background-color: #d6ffe9;
}
.alert-banner.success i, .alert-banner.success p {
  color: #2ea667;
}

.danger {
  box-shadow: 0px 0px 5px 2px rgba(255, 0, 0, 0.66) !important;
}

.modal-content {
  position: fixed;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content .modal {
  background-color: white;
  width: 40%;
  height: 600px;
  position: relative;
  border-radius: 12px;
}
.modal-content .modal .head-modal {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content .modal .head-modal h2 {
  font-size: 4rem;
  font-weight: 600;
}
.modal-content .modal .close-modal {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.2s;
}
.modal-content .modal .close-modal:hover {
  background-color: rgba(0, 0, 0, 0.1254901961);
}
.modal-content .modal .close-modal:active {
  background-color: rgba(0, 0, 0, 0.2509803922);
}
.modal-content .modal .close-modal p {
  font-size: 30px;
}
.modal-content .modal .body-modal {
  height: 80%;
}
.modal-content .modal .body-modal .table-content {
  height: 98%;
}
.modal-content .modal .body-modal .table-content .table .thead .tr {
  grid-template-columns: 1fr 2fr;
}
.modal-content .modal .body-modal .table-content .table .tbody {
  height: 86%;
}
.modal-content .modal .body-modal .table-content .table .tbody .tr {
  grid-template-columns: 1fr 2fr;
}

.modal-content.show {
  opacity: 1;
  pointer-events: initial;
}

.modal-content.news-modal {
  opacity: 0;
  pointer-events: none;
}
.modal-content.news-modal .news-modal {
  width: 70%;
}
.modal-content.news-modal .news-modal .body-modal .table-content .table .thead .tr {
  grid-template-columns: 1fr 4fr 1fr;
}
.modal-content.news-modal .news-modal .body-modal .table-content .table .tbody .tr {
  grid-template-columns: 1fr 4fr 1fr;
  cursor: pointer;
}

.modal-content.news-modal.show {
  opacity: 1;
  pointer-events: initial;
}

/*# sourceMappingURL=main.css.map */
