<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> head_links}}
    <link rel="stylesheet" href="./css/category.css">
</head>

<body>
    <div class="page-content">
        {{> tools}}
        {{> side_menu}}
        <main class="main-content">
            {{> loader}}
            {{> head_section}}
            <div class="main-section-content">
                <div class="head-main-content">
                    <figure>
                        <img src="./src/icon/group-green.svg" alt="logo">
                    </figure>
                    <div class="text-content">
                        <h2>Creaci贸n de tipos de consejos</h2>
                        <p>Este apartado es para crear los tipos de consejos</p>
                    </div>
                </div>

                <div class="body-main-content" id="counsilContext">

                    <div class="inputs-content">

                        <div class="input-form">
                            <label for="">
                                <span>C贸digo</span>
                                <input type="text" id="consejoId" disabled value="0">
                            </label>
                        </div>

                        <div class="input-form">
                            <label for="">
                                <span>Descripci贸n</span>
                                <input type="text" id="consejoDescription" class="required">
                            </label>
                        </div>

                    </div>

                    <div class="table-content">
                        <h2>Tabla de tipo de cosejos</h2>
                        <div class="table" id="tableConsejo">
                            <div class="thead">
                                <div class="tr">
                                    <div class="td text-center">C贸digo</div>
                                    <div class="td">Detalle</div>
                                    <div class="td text-center">Editar</div>
                                </div>
                            </div>
                            <div class="tbody" id="tdobyConsejo">


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <section class="button-section">
            <div class="button-container">
                <div class="button-grouper tooltip">
                    <span class="tooltip-box ">Limpiar</span>
                    <button id="btnClearAll" title="Nuevo" class="btn-custom-primary">
                        <i class="fa-solid fa-file fa-2x"></i>
                    </button>
                </div>
                <div class="button-grouper tooltip">
                    <span class="tooltip-box">Guardar tipo de consejo</span>
                    <button id="btnSaveArticle" title="Guardar" class="btn-custom-success">
                        <i class="fa-regular fa-floppy-disk fa-2x"></i>
                    </button>
                </div>
            </div>
        </section>
    </div>
    {{> scripts}}
    <script src="./js/consejo.js"></script>
</body>

</html>