<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> head_links}}
</head>

<body>
    <div class="page-content">
        {{> tools}}
        {{> side_menu}}
        <main class="main-content">
            {{> head_section}}
            <div class="main-section-content">
                <div class="head-main-content">
                    <figure>
                        <img src="./src/icon/news-gree.svg" alt="logo">
                    </figure>
                    <div class="text-content">
                        <h2>Creacion de noticias</h2>
                        <p>Este apartado es para crear los articulos del blog</p>
                    </div>
                </div>
                <div class="body-main-content">
                    <div class="inputs-content ">

                        <div class="input-form article-content">
                            <span>Imagen principal</span>
                            <label for="principalImg">
                                <figure>
                                    <img src="./src/img/add.png" alt=""  id="principalImgContent">
                                </figure>
                                <input type="file" accept="image/*" id="principalImg">
                            </label>
                        </div>

                        <div class="input-form">
                            <label for="">
                                <span>Titulo principal</span>
                                <input type="text" id="mainTitle">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="">
                                <span>Categoria</span>
                                <select name="" id="selectCategory">
                                    <option value="0">Seleccione la categoria</option>
                                </select>
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="">
                                <span>Autor</span>
                                <input type="text" id="inputAuthor">
                            </label>
                        </div>
                    </div>
                    <div class="image-container">
                        <span>Selección de imagenes</span>
                        <div class="multiples-images-content">

                            <div class="images-content" id="imagesContent">

                            </div>

                            <label class="multiple-button" for="imageSelector">
                                <figure>
                                    <img src="./src/icon/plus.svg" alt="">
                                </figure>
                            </label>
                            <input type="file" accept="image/*" id="imageSelector" class="image-selector" multiple>

                        </div>
                    </div>
                    <div class="article-description-content">
                        <span>Descripcion del articulo</span>
                        <textarea name="" id="articleDetail" cols="30" rows="10"></textarea>
                    </div>

                    <div class="tags-content">
                        <span>Seleccion de tags</span>
                        <div class="select-tags-content">
                            <select name="" id="selectTags">
                                <option value="0">seleccione el tag</option>
                            </select>
                        </div>
                        <div class="tags-container" id="tagsContainer">

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <section class="button-section">
            <div class="button-container">
                <div class="button-grouper tooltip">
                    <span class="tooltip-box ">Limpiar</span>
                    <button id="btnClearAll" title="Nuevo" class="btn-custom-primary">
                        <i class="fa-solid fa-file fa-2x"></i>
                    </button>
                </div>
                <div class="button-grouper tooltip ">
                    <span class="tooltip-box">Buscar articulos creados</span>
                    <button id="btnSearchArticles" class="btn-custom-info">
                        <i class="fa-solid fa-magnifying-glass fa-2x"></i>
                    </button>
                </div>
                <div class="button-grouper tooltip">
                    <span class="tooltip-box">Guardar articulo</span>
                    <button id="btnSaveArticle" title="Guardar" class="btn-custom-success">
                        <i class="fa-regular fa-floppy-disk fa-2x"></i>
                    </button>
                </div>
            </div>
        </section>
    </div>
     <div class="modal-content news-modal" id="modalNews">
        <div class="modal news-modal">
            <div class="head-modal">
                <h2>Noticias creadas</h2>
            </div>
            <div class="close-modal" id="closeModal">
                <p>X</p>
            </div>
            <div class="body-modal">
                <div class="table-content"> 
                    <div class="table" id="tableCategory">
                        <div class="thead">
                            <div class="tr">
                                <div class="td text-center">Número</div>
                                <div class="td">Titulo</div>
                                <div class="td text-center">Fecha de creación</div>
                            </div>
                        </div>
                        <div class="tbody" id="tdobyMembers">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> scripts}}
    <script src="./js/articles.js"></script>
</body>

</html>