<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{> head_links}}
    <link rel="stylesheet" href="./css/products.css">
</head>

<body>
    <div class="page-content">
        {{> tools}}
        {{> side_menu}}
        <main class="main-content">
            {{> loader}}
            {{> head_section}}
            <div class="main-section-content">
                <div class="head-main-content">
                    <figure>
                        <img src="./src/icon/product-green.svg" alt="logo">
                    </figure>
                    <div class="text-content">
                        <h2>Creacion de productos de la cooperativa</h2>
                        <p>Este apartado es para crear los distintos productos que ofrecemos como cooperativa</p>
                    </div>
                </div>
                <div class="body-main-content" id="inputContent">
                    <div class="inputs-content">

                        <div class="input-form article-content">
                            <span>Imagen del producto</span>
                            <label for="principalImg">
                                <figure>
                                    <img src="./src/img/add.png" alt="" id="principalImgContent">
                                </figure>
                                <input type="file" accept="image/*" id="principalImg">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="">
                                <span>Codigo</span>
                                <input type="text" value="0" id="productId" disabled>
                            </label>
                        </div>

                        <div class="input-form">
                            <label for="">
                                <span>Nombre del producto</span>
                                <input type="text" class="required" id="productName">
                            </label>
                        </div>
                        <div class="input-form">
                            <label for="">
                                <span>Titulo del producto</span>
                                <textarea type="text" class="required" id="titleProduct"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="article-description-content">
                        <span>Descripcion del articulo</span>
                        <textarea name="" class="required" id="productDetail" cols="30" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </main>

        <section class="button-section">
            <div class="button-container">
                <div class="button-grouper tooltip">
                    <span class="tooltip-box ">Limpiar</span>
                    <button id="btnClearAll" title="Nuevo" class="btn-custom-primary">
                        <i class="fa-solid fa-file fa-2x"></i>
                    </button>
                </div>
                <div class="button-grouper tooltip ">
                    <span class="tooltip-box">Buscar articulos creados</span>
                    <button id="btnSearchProduct" class="btn-custom-info">
                        <i class="fa-solid fa-magnifying-glass fa-2x"></i>
                    </button>
                </div>
                <div class="button-grouper tooltip">
                    <span class="tooltip-box">Guardar articulo</span>
                    <button id="btnSaveProduct" title="Guardar" class="btn-custom-success">
                        <i class="fa-regular fa-floppy-disk fa-2x"></i>
                    </button>
                </div>
            </div>
        </section>
    </div>
    <div class="modal-content products-modal" id="modalProduct">
        <div class="modal product-modal">
            <div class="head-modal">
                <h2>Productos</h2>
            </div>
            <div class="close-modal" id="closeModal">
                <p>X</p>
            </div>
            <div class="body-modal">
                <div class="table-content">
                    <div class="table" id="tableProduct">
                        <div class="thead">
                            <div class="tr">
                                <div class="td text-center">Número</div>
                                <div class="td">Nombre</div>
                            </div>
                        </div>
                        <div class="tbody" id="tdobyProduct">
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> scripts}}
    <script src="./js/products.js"></script>
</body>

</html>