<div class="side-menu">
    <div class="head-content-menu">
        <div class="logo-content">
            <figure>
                <img src="../src/img/logo-coopinfa-white.png" alt="">
            </figure>
        </div>
    </div>

    <hr class="hr">

    <div class="main-content-menu">
        <p class="menu-title">Menu de opciones</p>

        <a href="/panel-promocion" class="option">
            <i class="fa-solid fa-bag-shopping"></i>
            <p>Panel de Promociones</p>
        </a>

        <a href="/articulos" class="option">
            <figure>
                <img src="./src/icon/news.png" alt="">
            </figure>
            <p>Mantenimiento de articulo</p>
        </a>

        <a href="/productos" class="option">
            <figure>
                <img src="./src/icon/product.svg" alt="">
            </figure>
            <p>Mantenimiento de productos</p>
        </a>

        <a href="/categorias" class="option">
            <figure>
                <img src="./src/icon/categoria.svg" alt="">
            </figure>
            <p>Mantenimiento de categoria</p>
        </a>

        <a href="/tags" class="option">
            <figure>
                <img src="./src/icon/tags.png" alt="">
            </figure>
            <p>Mantenimiento de tags</p>
        </a>

        <a href="/consejo" class="option">
            <figure>
                <img src="./src/icon/group.svg" alt="">
            </figure>
            <p>Tipos de consejos</p>
        </a>

        <a href="/integrantes-consejo" class="option">
            <i class="fa-regular fa-user"></i> 
            <p>Miembros del consejo</p>
        </a>

    </div>
</div>