<div class="accept-reject-content" id="modalContainerBackground">
    <div class="accept-content-modal" id="modalContent">
        <div class="text-content">
            <h1 id="textHeader">Desea Guardar?</h1>
            <p id="textP">Este articulo se guardara con los cambios solicitados</p>
        </div>
        <div class="button-content">
            <div class="accept-content">

                <button id="acceptButtton" class="accept-btn">
                    <i class="fa-regular fa-circle-check"></i>&nbsp Aceptar
                </button>
            </div>
            <div class="reject-content">
                <button id="rejectButton" class="reject-btn">
                    <i class="fa-regular fa-circle-xmark"></i>&nbspRechazar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="alert-banner " id="alertBanner">
    <div class="icon-content" id="iconContent"> 
    </div>
    <div class="message-content">
        <p id="messageContent">
        </p>
        <div id="closeBanner" class="close-banner">
            <i class="fa-solid fa-x"></i>
        </div>
    </div>
</div>